<div class="container card-header">
    <h3 class="card-title float-left"></h3>
      <!--pre>{{selectedUser | json}}</pre-->
    
        <button id="btn-new" class="btn btn-primary " (click) = "nuevo()">
          <i class="fas fa-plus-square"></i>
        </button>
    
</div>
<form id="form" [formGroup] = "formulario" >
<div class="container" style="padding: 0px;">


  <div class="row">
    <!-- primera columna-->
    <div class="col-3">

      <div class="form-group">   <!-- id-->
        <label for="id" class="form-control-label">Id</label>
        <input class="focus-input form-control" [(ngModel)] = "selectedUser.id" formControlName="id" type="text" name="id" id="id" 
          placeholder="id" required>
        <div class="alert alert-warning" role="alert"  *ngIf="id.invalid && ( id.dirty || id.touched)">
          <div class="error" *ngIf="id.errors.required">
            Id requaired
          </div>
         
        </div>
      </div>



      <div class="form-group">   <!-- nombre-->
        <label for="name" class="form-control-label">Nombre</label>
        <input class="focus-input form-control" [(ngModel)] = "selectedUser.name" formControlName="name" type="text" name="name" id="name"
          placeholder="Nombre" required>
        <div class="alert alert-warning" role="alert"
          *ngIf="name.invalid && ( name.dirty || name.touched || name.errors.minlength)">
          <div class="error" *ngIf="name.errors.required">
            Name requaired
          </div>
          <div class="error" *ngIf="name.errors.minlength">
            Name too short
          </div>
        </div>
      </div>

      <div class="form-group">   <!-- email-->
        <label for="email" class="form-control-label">Email</label>
        <input class="focus-input form-control" [(ngModel)] = "selectedUser.email" formControlName="email" type="text" name="email" id="email"
          placeholder="Nombre" required>
        <div class="alert alert-warning" role="alert"
          *ngIf="email.invalid && ( email.dirty || email.touched || email.errors.minlength)">
          <div class="error" *ngIf="email.errors.required">
            Email requaired
          </div>
          <div class="error" *ngIf="email.errors.minlength">
            Email too short
          </div>
          <div class="error" *ngIf="email.errors?.pattern">
            Email format invalid
          </div>
        </div>
      </div>




      <div class="form-group">  <!-- cpf-->
        <label for="cpf" class="form-control-label">Cpf</label>
        <input class="focus-input form-control" [(ngModel)] = "selectedUser.cpf" formControlName="cpf" type="text" name="cpf" id="cpf"
          placeholder="cpf" required>
        <div class="alert alert-warning" role="alert"
          *ngIf="cpf.invalid && ( cpf.dirty || cpf.touched || cpf.errors.minlength)">
          <div class="error" *ngIf="cpf.errors.required">
            cpf requaired
          </div>
          <div class="error" *ngIf="cpf.errors.minlength">
            cpf too short
          </div>
      </div>
      </div>

      <div class="form-group"> <!-- phone-->
        <label for="phoneNumber" class="form-control-label">Phone</label>
        <input class="focus-input form-control" [(ngModel)] = "selectedUser.phoneNumber" formControlName="phoneNumber"
          type="text" name="phoneNumber" id="phoneNumber"
          placeholder="phone" required>
        <div class="alert alert-warning" role="alert"
          *ngIf="phoneNumber.invalid && ( phoneNumber.dirty || phoneNumber.touched || phoneNumber.errors.minlength)">
          <div class="error" *ngIf="phoneNumber.errors.required">
            Phone requaired
          </div>
          <div class="error" *ngIf="phoneNumber.errors.minlength">
            Phone too short
          </div>
        </div>
      </div>


     </div>

<!-- Segunda columna-->

<div class="col-3">


  <div class="form-group"> <!-- password-->
    <label for="password" class="form-control-label">Password</label>
    <input class="focus-input form-control" [(ngModel)] = "selectedUser.pasword" formControlName="password" type="text" name="password" id="password"
      placeholder="password" required>
    <div class="alert alert-warning" role="alert"
      *ngIf="password.invalid && ( password.dirty || password.touched || password.errors.minlength)">
      <div class="error" *ngIf="password.errors.required">
        Name requaired
      </div>
      <div class="error" *ngIf="password.errors.minlength">
        Name too short
      </div>
  </div>
  </div>

  <div class="form-group"> <!-- photo url-->
    <label for="photoUrl" class="form-control-label">Photo Url</label>
    <input class="focus-input form-control" [(ngModel)] = "selectedUser.photoUrl" formControlName="photoUrl" type="text" name="photoUrl" id="photoUrl"
      placeholder="photoUrl" required>
    <div class="alert alert-warning" role="alert"
      *ngIf="photoUrl.invalid && ( photoUrl.dirty || photoUrl.touched || photoUrl.errors.minlength)">
      <div class="error" *ngIf="photoUrl.errors.required">
        Name requaired
      </div>
      <div class="error" *ngIf="photoUrl.errors.minlength">
        Name too short
      </div>
    </div>
  </div>


  <div class="form-group"> <!-- Location-->
    <label for="location" class="form-control-label">Loction</label>
    <input class="focus-input form-control" [(ngModel)] = "selectedUser.location" formControlName="location" type="text" name="location" id="location"
      placeholder="location" required>
    <div class="alert alert-warning" role="alert"
      *ngIf="location.invalid && ( location.dirty || location.touched || location.errors.minlength)">
      <div class="error" *ngIf="location.errors.required">
        Location requaired
      </div>
      <div class="error" *ngIf="location.errors.minlength">
        Name too short
      </div>
    </div>
  </div>

  
  <div class="form-group"> <!-- points-->
    <label for="points" class="form-control-label">Points</label>
    <input class="focus-input form-control" [(ngModel)] = "selectedUser.points" formControlName="points" type="text" name="points" id="points"
      placeholder="Points" required>
    <div class="alert alert-warning" role="alert"
      *ngIf="points.invalid && ( points.dirty || points.touched || points.errors.minlength)">
      <div class="error" *ngIf="points.errors.required">
        Points requaired
      </div>
      <div class="error" *ngIf="points.errors.minlength">
        points
      </div>
    </div>
  </div>

  
  <div class="form-group"> <!-- Settings-->
    <label for="settings" class="form-control-label">Settings</label>
    <input class="focus-input form-control" [(ngModel)] = "selectedUser.settings" formControlName="settings" type="text" name="settings" id="settings"
      placeholder="Settings" required>
    <div class="alert alert-warning" role="alert"
      *ngIf="settings.invalid && ( settings.dirty || settings.touched || settings.errors.minlength)">
      <div class="error" *ngIf="settings.errors.required">
        Name requaired
      </div>
      <div class="error" *ngIf="settings.errors.minlength">
        Name too short
      </div>
    </div>
  </div>

  <div >
    <button [disabled] = "!formulario.valid"  class="btn btn-primary btn-block " (click) = "save()">
     Save   <i class="fas fa-save"></i>
    </button>
    <button class="btn btn-warning mt-2 " (click) = "cancel()">
      <i>Cancel</i>
     </button>
    
  </div>
 </div>

 <div class="col-6 ">
  
      <div class="tabla">
        <table class="table">
          <thead >
            <tr>
              <th scope="col">id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Location</th>
              <th scope="col">Settings</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody >
              
              <tr *ngFor="let u of users" (click)="openEdit(u)" [class.active] = "u==selectedUser">
                <th scope="row"><span class="badge badge-primary">{{u.id}}</span></th>
                <td>{{u.name}}</td>
                <td>{{u.email}}</td>
                <td>{{u.location}}</td>
                <td>{{u.settings}}</td>
                <td>
                  <button class="btn btn-warning" (click)="editar($event)" id = {{u.id}}>
                    <i class="fas fa-edit"></i>
                  </button> 
                  <button class="btn btn-danger" (click)="eliminar($event)" id = "{{u.id}}">
                    <i class="fas fa-trash-alt"></i>
                  </button> 
              </tr>
              </tbody>
            </table>
        
      </div>
   </div>





 
<div class="well well-large">

</div>
<div class="row" >
  <!--div class="col-8 tabla mx-auto">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Email</th>
          <th scope="col">Location</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody >
          
          <tr *ngFor="let u of users">
            <th scope="row"><span class="badge badge-primary">{{u.id}}</span></th>
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
            <td>
              <button class="btn btn-warning" (click)="editar($event)" id = {{u.id}}>Editar</button> 
              <button class="btn btn-danger" (click)="eliminar($event)" id = {{u.id}}>Eliminar</button> 
           
          </tr>
        
          </tbody>
        </table>
    
  </div-->
  </div>