<div class="container">

  <div class="row">
    <!-- primera columna-->
    <div class="col-6">

      <div class="form-group">
        <label for="nombre" class="form-control-label">Nombre</label>
        <input class="focus-input form-control" formControlName="nombre" type="text" name="nombre" id="nombre"
          placeholder="Nombre" required>
        <div class="alert alert-warning" role="alert"
          *ngIf="nombre.invalid && ( nombre.dirty || nombre.touched || nombre.errors.minlength)">
          <div class="alert-warning" *ngIf="nombre.errors.required">
            Name requaired
          </div>
          <div class="alert-warning" *ngIf="nombre.errors.minlength">
            Name too short
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="nombre" class="form-control-label">Nombre</label>
        <input class="focus-input form-control" formControlName="nombre" type="text" name="nombre" id="nombre"
          placeholder="Nombre" required>
        <div class="alert alert-warning" role="alert"
          *ngIf="nombre.invalid && ( nombre.dirty || nombre.touched || nombre.errors.minlength)">
          <div class="alert-warning" *ngIf="nombre.errors.required">
            Name requaired
          </div>
          <div class="alert-warning" *ngIf="nombre.errors.minlength">
            Name too short
          </div>
      </div>
      </div>




      <div class="form-group">
        <label for="nombre" class="form-control-label">Nombre</label>
        <input class="focus-input form-control" formControlName="nombre" type="text" name="nombre" id="nombre"
          placeholder="Nombre" required>
        <div class="alert alert-warning" role="alert"
          *ngIf="nombre.invalid && ( nombre.dirty || nombre.touched || nombre.errors.minlength)">
          <div class="alert-warning" *ngIf="nombre.errors.required">
            Name requaired
          </div>
          <div class="alert-warning" *ngIf="nombre.errors.minlength">
            Name too short
          </div>
      </div>
      </div>









     </div>

<!-- Segunda columna-->

<div class="col-6">

  <div class="form-group">
    <label for="nombre" class="form-control-label">Nombre</label>
    <input class="focus-input form-control" formControlName="nombre" type="text" name="nombre" id="nombre"
      placeholder="Nombre" required>
    <div class="alert alert-warning" role="alert"
      *ngIf="nombre.invalid && ( nombre.dirty || nombre.touched || nombre.errors.minlength)">
      <div class="alert-warning" *ngIf="nombre.errors.required">
        Name requaired
      </div>
      <div class="alert-warning" *ngIf="nombre.errors.minlength">
        Name too short
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="nombre" class="form-control-label">Nombre</label>
    <input class="focus-input form-control" formControlName="nombre" type="text" name="nombre" id="nombre"
      placeholder="Nombre" required>
    <div class="alert alert-warning" role="alert"
      *ngIf="nombre.invalid && ( nombre.dirty || nombre.touched || nombre.errors.minlength)">
      <div class="alert-warning" *ngIf="nombre.errors.required">
        Name requaired
      </div>
      <div class="alert-warning" *ngIf="nombre.errors.minlength">
        Name too short
      </div>
  </div>
  </div>




  <div class="form-group">
    <label for="nombre" class="form-control-label">Nombre</label>
    <input class="focus-input form-control" formControlName="nombre" type="text" name="nombre" id="nombre"
      placeholder="Nombre" required>
    <div class="alert alert-warning" role="alert"
      *ngIf="nombre.invalid && ( nombre.dirty || nombre.touched || nombre.errors.minlength)">
      <div class="alert-warning" *ngIf="nombre.errors.required">
        Name requaired
      </div>
      <div class="alert-warning" *ngIf="nombre.errors.minlength">
        Name too short
      </div>
  </div>
  </div>









 </div>




   </div>
</div>