.form-control-label{
  font-family: Poppins-SemiBold;
  font-size: 14px;
  color: #999999;
  line-height:0.1 ;
  padding-left: 0px;
}
.alert-warning{
    margin-top: 0px;
    padding: 0px;
    font-size:14px;
    width: 30%;

}

.alert{
    background-color: cadetblue;
}
.error{
  background-color: #E3E358;
  color: #588FE3;
}
.tabla{
  overflow: auto ;
  height: 70vh;
  max-height: 70vh;    
  width: 100%;
  border-left: solid 1px springgreen;
}
.tabla tr{ 
  cursor: pointer;
}

.tabla thead tr { 
  cursor: default
}


.tabla tbody tr:hover{ 
  background-color: #97abdd;
  color: beige;
  font-weight: bold;
}
pre{
  overflow: scroll;
  height: 200px;
  max-height: 3000px;    
  width: 40%;
}

.active{
   background-color: #336EFF;
  cursor: pointer;
  color: beige;
  font-weight: bold; 
  font-size: 16px;
}